* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body {
  background-image: url("img/FF7R.jpeg");
  background-attachment: fixed;
}

main {
  opacity: 0.90;
  background-color: #9c82ab;
  margin-top: 4rem;
}

#navBarre {
  background: linear-gradient(to left, #851DCB, #7E1697, #A71375);
  color: white;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

#ici {
  color: blue;
}

#ici:hover {
  text-decoration: none;
  color: #A71375;
}

#loupe {
  color: white;
  font-size: 1.5rem;
}
#loupe:hover {
  color: black;
}

input{
  border: 3px solid #7E1697;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  padding: 0px 10px;
  align: center;
}

/* #clr{
  color: white;
} */

#bt{
  color: #851DCB;
}

.btn-search:focus{
  color: #52147B;
}

.btn-search{
  background-color: inherit;
  border: none;
  color: #851DCB;
}

.btn-search:hover{
  color:  #851DCB;
}

.search-txt{
  color: purple;
}

#footer {
  background: linear-gradient(to left, #851DCB, #7E1697, #A71375);
  color: white;
  border-top: 10px;
  border-color: black;
}
